:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
}

.bkg {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
}

h2.welcome_user {
  font-size: 3em;
  margin-top: 0px;
}
/* 
.bkg h1.logo {
  font-size: 3em;
  margin-top: 0px;
  text-align: left;
  padding-left: 35px;
} */

.bkg .gate-login {
  width: 25%;
  height: 29%;
  position: absolute;
  right: 20%;
  top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bkg .gate-login .inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.CTA_create_account {
  font-size: 0.844rem;
  margin-bottom: 7px;
}

.CTA_link:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.login_form {
  display: flex;
  flex-direction: column;
}

.sign_up_form {
  position: relative;
  top: 100px;
}

.text_inputs {
  width: 250px;
  height: 34px;
  font-size: 20px;
  border: none;
  background: black;
  color: white;
  box-shadow: 0 0 36px -11px white;
}

.text_inputs:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px black inset;
  -webkit-text-fill-color: white;
}

.text_inputs:focus {
  outline: none;
}

.margin-bottom {
  margin-bottom: 10px;
}

.password_input_container {
  position: relative;
}

.faEye {
  color: white;
  position: absolute;
  top: 25%;
  right: 5%;
  cursor: pointer;
}

.enter_btn {
  font-size: 20px;
  background: black;
  color: white;
  cursor: pointer;
}

.bkg_img_properties {
  background-repeat: no-repeat;
  background-size: cover;
}

.helping-hand {
  background-image: url("/public/assets/menscircle_1440x820.jpg");
}

.sunset {
  background-image: url("/public/assets/sunset.jpeg");
}

.profile-picture {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 50%;
}

.side_by_side span {
  margin: 15px 0;
  padding: 0 10px;
  font-size: 16px;
}

.side_by_side span:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.side_by_side span:first-child {
  border-right: 1px solid black;
}

.selector_bar {
  /* width: 100%; */

  border-radius: 8px;
  background-color: #1d1d1ff7;
  margin: 10px 0 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid #978080;
  position: relative;
}

input[type="radio"] {
  display: none;
}

.tab {
  font-size: 1.9rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  z-index: 5;
  padding: 0 30px;
  text-align: center;
  padding: 10px 0;
}

.selector_bar .glider {
  background: #38437a;
  height: 45px;
  width: 19%;
  position: absolute;
  border-radius: 8px;
  left: 3%;
}

/* Tab Slider position */
/* ⌄ ⌄ ⌄ */

.posts-tab {
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.events-tab {
  transform: translateX(20cqw);
  transition: transform 0.3s ease-out;
}

.friends-tab {
  transform: translateX(41cqw);
  transition: transform 0.3s ease-out;
}

.photos-tab {
  transform: translateX(62cqw);
  transition: transform 0.3s ease-out;
}

/* ^ ^ ^ */

.content_layout {
  background-color: #1d1d1ff7;
  color: white;
  /* padding: 20px; */
  border-radius: 8px;
  border: 2px solid #978080;
  /* overflow: scroll; */
  height: 63%;
  position: relative;
}

.confirmation_dialog_container {
  width: 100%;
  height: 100%;
  background: #1d1d1ff7;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  border-radius: 8px;
}

.confirmation_dialog {
  padding: 50px 75px;
  background: #2a2a2b;
  border: 2px solid white;
  z-index: 1;
  box-shadow: 0 18px 28px -45px white;
  border-radius: 3px;
}

.confirmation_dialog p {
  font-size: 24px;
  margin: 0 0 20px 0;
}

.confirmation_dialog input {
  font-size: 18px;
  font-weight: 600;
  padding: 10px 34px;
  border-radius: 3px;
  border: none;
  letter-spacing: 1.3px;
}

.confirmation_dialog input:hover {
  /* transform: scale(1.02); */
  transition: all 0.1s linear;
  box-shadow: 0 0 1px 1px rgb(81, 81, 84) inset;
}

.confirmation_dialog form input:first-of-type {
  margin-right: 20px;
}

.confirmation_dialog form input:nth-of-type(2) {
  background-color: #d93223;
}

.home_content_container {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  overflow: scroll;
  padding: 20px;
}

.community_posts textarea {
  width: 100%;
  height: 75px;
  background-color: #2a2a2cf7;
  color: white;
  font-size: 16px;
  resize: none;
}

.community_posts form {
  margin-bottom: 10px;
}

.community_posts textarea:focus {
  outline: none;
}

.comment {
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #2a2a2cf7;
  display: flex;
  padding: 10px 0;
  position: relative;
  padding-right: 5%;
}

.comment p {
  margin: 0;
}

.comment h2 {
  font-size: 12px;
  font-weight: 800;
  margin: 0px 0 4px 0;
}

.comment_text {
  white-space: pre-wrap;
}

.comment img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}

.comment_content {
  padding-left: 10px;
  width: 100%;
}

.comment_ellipsis {
  display: flex;
  align-items: center;
  margin: 0 15px;
  position: absolute;
  right: 1%;
  top: 0px;
  height: 100%;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.event_ellipsis {
  margin: 0 0 0 20px;
}

.edit_delete_dropdown_container {
  position: absolute;
  top: 0;
  right: 5px;
  height: 100%;
  display: flex;
  align-items: center;
}

.edit_delete_dropdown {
  background: #1d1d1f;
  border-radius: 8px;
}

.edit_delete_dropdown ul {
  padding: 0;
  margin: 0;
}

.edit_delete_dropdown ul li {
  list-style: none;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 500;
}

.edit_delete_dropdown ul li:hover {
  background: #6b676785;
  border-radius: 8px;
  cursor: pointer;
}

.community_posts .edit_comment_textarea {
  width: 100%;
  height: 75px;
  background-color: #2a2a2cf7;
  color: white;
  font-size: 16px;
  resize: none;
  border-top: none;
  border-right: none;
  border-left: none;
}

.submit_new_event_btn {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.submit_new_event_btn input {
  font-size: 20px;
  letter-spacing: 0.8px;
  padding: 10px 20px 10px 35px;
}

.submit_new_event_btn input:hover {
  /* box-shadow: 0 6px 31px -7px #38437a; */
  background-color: #efefef;
}

.submit_new_event_btn .plus_icon {
  font-size: 20px;
  position: absolute;
  left: 10px;
  top: 12px;
  color: black;
}

.new_event_form {
  display: flex;
  flex-direction: column;
  /* max-width: 40%; */
  justify-content: center;
  align-items: center;
  background-color: #2a2a2b;
  z-index: 1;
  padding: 20px 40px;
  position: relative;
}

.new_event_form input,
.new_event_form textarea {
  margin: 10px 0;
  width: 400px;
  height: 32px;
  font-size: 16px;
  background-color: #1d1d1f;
  color: white;
}

.new_event_form input:focus,
.new_event_form textarea:focus {
  outline: none;
}

#event_details {
  box-sizing: border-box;
  resize: none;
}

.new_event_form .event_form_submission_btn {
  width: fit-content;
  font-size: 20px;
  padding: 6px 20px;
  height: fit-content;
  font-weight: 500;
}

.new_event_form .event_form_submission_btn:hover {
  background-color: #242427;
}

.Xmark_icon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}

.Xmark_icon:hover {
  cursor: pointer;
}

.event_title_input_container {
  position: relative;
  display: flex;
  align-items: center;
}

.event_title_input_container span {
  position: absolute;
  color: white;
  right: 5px;
}

div.upcoming_event {
  padding: 10px 0;
  font-size: 24px;
  display: flex;
  align-items: center;
}

div.event_title {
  position: relative;
  cursor: pointer;
  display: flex;
}

div.event_title span {
  position: absolute;
  left: -30px;
  top: 2%;
  cursor: pointer;
}

.first_column {
  padding: 0px 20px 0 0;
  width: 12%;
}

.second_column {
  position: relative;
}

.event_details {
  display: flex;
}

.event_details_container {
  width: 500px;
}

.details_edit_box {
  white-space: pre-wrap;
}

.details_edit_box:focus {
  outline: none;
}

.event_details_btns {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.event_details_btns input {
  margin: 0 2px;
  /* background: transparent;
  color: white;
  border: 1px solid white; */
}

.event_details_btns input:hover {
  background-color: white;
  color: black;
}

.edit_details_save_btn {
  position: absolute;
  bottom: 0px;
}

/* Accordion positions for Event Details */
/* ⌄ ⌄ ⌄ */
.closed {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.3s linear;
}

.open {
  max-height: 193px;
  overflow: scroll;
  transition: all 0.3s linear;
}

.second_column_padding_bottom {
  padding-bottom: 30px;
}

.event_details_container_border_bottom {
  border-bottom: 1px solid #6b676785;
  box-sizing: border-box;
}

/* ^ ^ ^ */

.friends_list_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/* .profile_thumbnail {
  width: 11%;
  min-width: 150px;
  height: 132px;
  margin: 29px 10px;
} */

.profile_thumbnail {
  width: 11%;
  min-width: 150px;
  height: 188px;
  margin: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_thumbnail p {
  text-align: center;
  margin-bottom: 0;
}

.edit_profile_toast {
  background: white;
  border-radius: 8px;
  padding: 6px 30px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05);
  color: #363636;
  line-height: 1.3;
  display: flex;
  align-items: center;
  max-width: 350px;
  position: relative;
  transition: all 0.2s linear;
}

#edit_profile_toast.edit_profile_toast p {
  font-size: 16px;
}

/* .hide_toast {
  transform: translateY(0px);
  opacity: 0;
} */

.reveal_toast {
  transform: translateY(75px);
  opacity: 1;
}

.edit_profile_toast p {
  margin-right: 12px;
  letter-spacing: 0.2px;
}

.edit_profile_toast p span {
  margin-right: 14px;
}

.edit_profile_toast button {
  position: absolute;
  bottom: -4px;
  right: -5px;
  margin: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
  color: red;
  font-size: 16px;
}

.profile_user_basic_info p {
  margin: 0;
}

.profile_user_basic_info h2 {
  margin-top: 0;
}

.profile_user_basic_info p span.user_basic_info_span,
.profile_user_basic_info div span.user_basic_info_span {
  font-weight: 600;
  font-size: 17px;
  color: rgb(131, 82, 82);
  margin-right: 5px;
}

.profile_birthday_date_picker {
  background: transparent;
  color: white;
  border: none;
  font-size: 17px;
}

.profile_back_btn {
  position: absolute;
  text-decoration: underline;
  right: 10%;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  top: 10%;
  font-size: 18px;
  font-weight: 600;
}

.profile_back_btn svg {
  margin-right: 1.3125em;
  font-size: 18px;
  color: rgb(131, 82, 82);
}

.profile_img_container {
  display: flex;
  gap: 15px;
}

.profile_bio {
  white-space: pre-wrap;
}

table.schedule {
  border: 1px solid rgb(131, 82, 82);
  width: 100%;
  border-collapse: collapse;
}

table.schedule th {
  border: 1px solid rgb(131, 82, 82);
}

table.schedule td {
  border: 1px solid rgb(131, 82, 82);
  position: relative;
  padding: 0 15px 40px 15px;
}

table.schedule td input {
  position: absolute;
  right: 0;
  top: 0;
  margin: 5px;
}

table.schedule td button.schedule_trashcan_btn {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 5px;
}

table.schedule td input.appointment_deletion_checkbox {
  position: static;
}

table.schedule td div.delete_or_cancel_btn_container {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 5px;
}

table.schedule td div.delete_or_cancel_btn_container input {
  position: static;
}

table.schedule td ul li.underline {
  /* border-bottom: 1px solid white; */
  width: 90%;
}

table.schedule td ul li.no_underline {
  border-bottom: none;
}

table.schedule td ul li .new_appointment:focus {
  outline: none;
}

table.schedule td ul li .new_appointment {
  border-bottom: 1px solid white;
}

li.li_margin_bottom {
  margin-bottom: 10px;
}

table.schedule td input.new_schedule_item_save_btn {
  position: static;
  right: 0;
  bottom: 0;
}

.friends_list_thumbnail_image {
  width: 100%;
  height: 100%;
  min-width: 83%;
  background-size: cover;
  background-position: center;
  max-width: 132px;
  border-radius: 3px;
}

.friends_list_thumbnail_image:hover {
  box-shadow: 0 3px 11px -6px white;
}

.photos_container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.photo_album_image {
  width: 250px;
  height: 250px;
  background-size: cover;
  margin: 10px 0;
  background-position: center;
}
